/*============top of webpage, banner/hero and navigation bar============*/
.navbar{
    display: grid;
    position: fixed;
    top: 0px;
    width: 100%;
    grid-template-columns: 237px 237px 237px 237px 237px 237px;
    justify-items: center;
    background-color: rgb(252, 176, 245);
    opacity: 60%;
    z-index: 1;
}
.top-page{
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: 600px 840px;
    grid-template-rows: 343px 343px;
    top: 60px;
    border: 1px 1px 1px 1px ;
    padding: 10px 0px 10px 0px;
    background-image: url(/images/banner.jpg);
    background-size: 1440px 886px;
}
.cover-img{
    position: inherit;
    height: fit-content;
    width: fit-content;
    grid-row: 1/ span 2;
    left: 100px;
}
.header{
    position: inherit;
    justify-content: center;
}