/*============<h> tags text adustjments============*/
h1 {
  font-size: inherit;
  font-family:Arial, Helvetica, sans-serif ;
  color: #b4afaf;
}
h2 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #0348b1;
    margin: 15px 0px 15px 0px;
}
h3 {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  color: #b4afaf;
  margin: 15px 5px 10px 5px;
}
h4 {
}
li{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}
/*============top of webpage, banner/hero and navigation bar============*/
.navbar {
  display: grid;
  position: fixed;
  top: 0px;
  width: 1440px;
  grid-template-columns: 160px 160px 160px 160px 160px 160px 160px 160px 160px;
  grid-template-rows: 69px;
  justify-content: center;
  text-align: center;
  background-color: rgb(252, 176, 245);
  opacity: 70%;
  z-index: 1;
}
/*============parent grid container============*/
.top-page {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: 600px 840px;
  grid-template-rows: 343px 343px;
  top: 60px;
  border: 1px 1px 1px 1px;
  padding: 10px 0px 10px 0px;
  background-image: url(/resources/images/banner.jpg);
  background-repeat: no-repeat;
  background-size: 1424px 886px;
  width: 1424px;
  z-index: 0;
}
.cover-img {
  position: inherit;
  height: fit-content;
  width: fit-content;
  grid-row: 1 / span 2;
  left: 100px;
  z-index: 0;
}
.header {
  position: inherit;
  justify-content: center;
  top: 100px;
  left: 40px;
}
.introduction {
  position: inherit;
  bottom: 80px;
  z-index: 0;
}
/*============content of webpage articles, contact details and aside============*/
.content{
    margin: 60px 0px 1px 0px ;
    border: 5px 5px 5px 5px ;
    padding: 0px 0px 5px 0px;
    display: grid;
    grid-template-columns: 1100px 324px;
    text-align: left;
}
.left-side{
    background-image: url(/resources/images/content-bg.jpg);
    background-size: 1100px;
    height: 886px;
    text-indent: 5px;
    margin: 0px 0px 0px 0px ;
    padding: 0px 0px 0px 15px;
}
.right-side h3{
    margin: 0px 0px 0px 0px;
}
.right-side{
    background-image: url(/resources/images/aside-bg.jpg) ;
    background-size: 340px;
    height: 912px;
    text-indent: 5px;
    padding: 5px 0px 0px 15px;
}
/*============footer/bottom of webpage, contact details, forms, links============*/
footer{
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items:space-evenly;
    width: 1440px;
    left: 0px;
    right: 0px;
}
.bottom-page{
    margin: 0px 4.5px 0px 4.5px ;
    background-image: url(/resources/images/content-bg.jpg);
    display: flex;
    flex-direction: row;
    justify-items: space-between;
    width: 1440px;   
}
.contact li{
    color:#0348b1;
}
/*============contact details with system icons arranged in a flex============*/
.contact{
    display: flex;
    position: relative;
    top: 0px;
    left: 0px;
    padding: 100px 200px 100px 200px;
    margin: 2px 5px 5px 5px;
    border-width: 2px 2px 2px 2px ;
    border: 2px 2px 2px 2px ;
    border-color: #0348b1;
    border-style: solid;
}

/*============empty form to fill in by visitors of website. adjusts width, sizes and style of form box============*/
.forms {
    display: inline-flex;
    position: relative;
    margin: 1px 0px 5px 0px;
    padding: 5px 238px 5px 5px;
    border: 2px 2px 2px 2px;
    border-width: 2px 2px 2px 2px ;
    border-color: #0348b1;
    border-style: solid;
}
.forms li{
    color: #0348b1;
}
input {
    background-color: #b4afaf;
    color: #0348b1;
}
/*============animation keyframes used in webpage============*/
@keyframes header{
    0%{opacity: 100%; color: #000000;font-size: 65px;}
    20%{opacity: 85%;color: #000000;font-size: 62px}
    40%{opacity: 70%;color: #000000;font-size: 59px}
    60%{opacity: 55%;color: #000000;font-size: 56px}
    80%{opacity: 40%;color: #000000;font-size: 53px}
    100%{opacity: 25%;color: #000000;font-size: 50px}
}
div .header {
    animation-name: header;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}